li {
    text-decoration: none;
    text-align: center;
}

.container {
    display: flex;
    border: 5px solid black;
    background-color: aqua;
}

.search {
    flex: 1;
}

@media all and(max-width:200px) {
    .container {
        flex-wrap: wrap;
    }
}